@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #6a0dad, #8a2be2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #8a2be2, #d8bfd8);
}

::-webkit-scrollbar-corner {
  background: #1a1a1a;
}
